<h3>About Page</h3>

<p>Tractor Compare was created as my final project for <a href="https://truecoders.io/">True Coders</a> Software Engineering program. The site was built using .Net MVC, with a database I made using MySQL. The data was gathered 
    from various manufacturers websites. C# was used as the primary programming language. I hope you enjoy this site as much as I enjoyed creating it</p>