<h3>About Page</h3>

<p>Tractor Compare was created as a final project for <a href="https://truecoders.io/">True Coders</a>. The site was built using .Net MVC, I built the database using MySQL gathering the data from various manufacturers websites. I used C# as my primary programming language. </p>