@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tractor Compare!</h1>
    <br/>
    <div class="container-fluid">
        <div class="row">
            <h5>
                Open the Tractor Database tab to search different models of tractors.
            </h5>
            <div class="col"><img src="~/images/3r.jpg" alt="tractor" width="550" /></div>
            <div class="col"><img src="~/images/ck.jpg" alt="tractor" width="550" /></div>
            <p>The About tab will tell you why this site exists. The Privacy tab details the privacy policy</p>
        </div>
    </div>
</div>
